.contactTile {
    background-color:rgba(221, 228, 241, 0.472);
    opacity: 1;
    padding: 15px;
    border: 3px solid black;
    border-radius: 1em;
    margin: 1em;
    width: fit-content;
}

img {
    width: 10em;
    height: 10em;
}

.name {
    /* text-decoration: underline; */
    font-weight: 700;
    font-size:1.2em;
}
.email {
    font-style: italic;
    font-size: 1em;
    font-weight: 400;
}
.phone {
    font-style: italic;
    font-size: 1em;
    font-weight: 400;
}

.contactlist-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
